<section class="content-header" th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <section class="content-header" th:replace="../static/css/css-navbar.html::css-navbar"></section>
    <section class="content-header" th:replace="modal/modal-login.html::modal-login"></section>
    <section class="content-header" th:replace="modal/modal-tweet.html::modal-tweet"></section>
    <section class="content-header" th:replace="modal/modal-register.html::modal-register"></section>

    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel navbar-fixed-top">
        <div class="container">
            <td>
                <a class="navbar-brand img-container" href="/">
                    <img class="bird" th:src="@{images/bird.png}" style="height: 2em; position: absolute">
                    <img class="bird_" th:src="@{images/bird_.png}" style="height: 2em">
                </a>
            </td>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li th:if="${user == null}">
                        <div class="divider-vertical"></div>
                    </li>
                    <li class="nav-item" th:if="${user == null}">
                        <button class="twitter custombutton btn btn-secondary" type="button" href="#" data-toggle="modal" data-target="#login-modal">Login</button>
                    </li>
                    <li th:if="${user == null}">
                        <div class="divider-vertical"></div>
                    </li>
                    <li class="nav-item" th:if="${user == null}">
                        <button class="twitter custombutton btn btn-secondary" type="button" href="#" data-toggle="modal" data-target="#register-modal">Register</button>
                    </li>
                    <li th:if="${user != null}">
                        <div class="divider-vertical"></div>
                    </li>
                    <li class="nav-item" th:if="${user != null}">
                        <div class="dropdown">
                            <button class="twitter custombutton btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                <span class="nav-item" th:text="${user.firstName}"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item disabled" style="color: #a0a0a0">Role: <span th:text="${user.role}"></span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/profile}">My Profile</a>
                                <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                            </div>
                        </div>
                        <li th:if="${user != null}">
                            <div class="divider-vertical"></div>
                        </li>
                        <li class="nav-item" th:if="${user != null}">
                            <button class="twitter custombutton btn btn-secondary" type="button" href="#" data-toggle="modal" data-target="#tweet-modal">Tweet</button>
                        </li>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</section>