<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:an="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Twitter</title>
    </head>

    <body>
        <section class="content-header" th:replace="header/imports.html::imports"></section>
        <section class="content-header" th:replace="header/navbar.html::navbar"></section>
        <section class="content-header" th:replace="header/navbar.html::navbar"></section>
        <section class="content-header" th:replace="../static/css/css-profile.html::css-profile"></section>

        <main>
            <div class="container-lg twitter-dark" style="height: 20em"></div>
            <nav class="navbar navbar-expand navbar-light navbar-laravel fixed-top navbar-secondary">
                <div class="container">
                    <div class="navbar">
                        <a class="navbar-brand bird-cage" href="/">
                            <img class="bird" th:src="@{/images/bird.png}" style="height: 2em; position: absolute">
                            <img class="bird_" th:src="@{/images/bird_.png}" style="height: 2em">
                        </a>
                    </div>

                    <div class="circle anti-stupid">
                        <table>
                            <thead>
                            <tr>
                                <th class="navbar-brand navbar-header-md col1" scope="col">Followers</th>
                                <th class="navbar-brand navbar-header-sm col2" scope="col">Following</th>
                                <th class="navbar-brand navbar-header-sm col3" scope="col">Tweets</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="navbar-brand navbar-header-lg col1"><h3 th:text="${followers}"></h3></td>

                                <td class="navbar-brand navbar-header-md col2"><h4>X</h4></td>
                                <td class="navbar-brand navbar-header-md col3"><h4>X</h4></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li>
                                <div class="divider-vertical"></div>
                            </li>
                            <li class="nav-item" th:if="${user != null}">
                                <form th:action="@{/follow}" method="POST" th:if="${followed == null && user2 != null}">
                                    <div class="form-group" style="display: none">
                                        <input type="number" th:name="follower" th:value="${user.id}"/>
                                    </div>
                                    <div class="form-group" style="display: none">
                                        <input type="number" th:name="followed" th:value="${user2.id}"/>
                                    </div>
                                    <button class="twitter custombutton btn btn-secondary anti-stupid" type="submit">Follow</button>
                                </form>
                                <form th:action="@{/unfollow}" method="POST" th:if="${followed != null}">
                                    <div class="form-group" style="display: none">
                                        <input type="number" th:name="follower" th:value="${user.id}"/>
                                    </div>
                                    <div class="form-group" style="display: none">
                                        <input type="number" th:name="followed" th:value="${user2.id}"/>
                                    </div>
                                    <button class="twitter custombutton btn btn-secondary anti-stupid" type="submit">Unfollow</button>
                                </form>
                                <button class="twitter custombutton btn btn-secondary anti-stupid" type="button" href="#" data-toggle="modal" data-target="#edit-profile-modal" th:if="${user2 == null}">Edit Profile</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-lg">

            </div>
        </main>
    </body>
</html>