<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:an="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Twitter</title>
    </head>

    <body>
        <section class="content-header" th:replace="header/imports.html::imports"></section>
        <section class="content-header" th:replace="header/navbar.html::navbar"></section>
        <section class="content-header" th:replace="header/navbar.html::navbar"></section>
        <section class="content-header" th:replace="../static/css/css-profile.html::css-profile"></section>
        <section class="content-header" th:replace="modal/modal-edit-profile.html::modal-edit-profile"></section>
        <section class="content-header" th:replace="modal/modal-edit-profile-admin.html::modal-edit-profile-admin"></section>

        <main>
            <div class="container-lg twitter-dark">
                <div class="row">
                    <div class="col-sm-2 column container-left"></div>
                    <div class="col-sm-3 column container-profile">
                        <div class="container-sm column">
                            <div class="card">
                                <h1 th:if="${user != null and user2 == null}" th:text="${user.screenName}"></h1>
                                <h1 th:if="${user2 != null}" th:text="${user2.screenName}"></h1>

                                <p class="title" th:if="${user != null and user2 == null}" th:text="${user.firstName + ' ' + user.lastName}"></p>
                                <p class="title" th:if="${user2 != null}" th:text="${user2.firstName + ' ' + user2.lastName}"></p>

                                <p th:if="${user != null and user2 == null}" th:text="${user.bio}"></p>
                                <p th:if="${user2 != null}" th:text="${user2.bio}"></p>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <p>
                                    <form th:action="@{/follows/save}" method="POST" th:if="${followed == null and user2 != null}">
                                        <div class="form-group" style="display: none">
                                            <input type="number" th:name="follower" th:value="${user.id}"/>
                                        </div>
                                        <div class="form-group" style="display: none">
                                            <input type="number" th:name="followed" th:value="${user2.id}"/>
                                        </div>
                                        <button class="twitter custombutton btn btn-secondary anti-stupid" type="submit" style="width: 80%">Follow</button>
                                    </form>
                                    <form th:action="@{/follows/delete}" method="POST" th:if="${followed != null}">
                                        <div class="form-group" style="display: none">
                                            <input type="number" th:name="follower" th:value="${user.id}"/>
                                        </div>
                                        <div class="form-group" style="display: none">
                                            <input type="number" th:name="followed" th:value="${user2.id}"/>
                                        </div>
                                        <button class="twitter custombutton btn btn-secondary anti-stupid" type="submit" style="width: 80%">Unfollow</button>
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 column container-activity"></div>
                    <div class="col-sm-2 column container-right"></div>
                </div>
            </div>
            <nav class="navbar navbar-expand navbar-light navbar-laravel navbar-secondary">
                <div class="container">
                    <div class="navbar">
                        <a class="navbar-brand bird-cage" href="/">
                            <img class="bird" th:src="@{/images/bird.png}" style="height: 2em; position: absolute">
                            <img class="bird_" th:src="@{/images/bird_.png}" style="height: 2em">
                        </a>
                    </div>

                    <div class="circle anti-stupid">
                        <table>
                            <thead>
                            <tr>
                                <th class="navbar-brand navbar-header-md col1" scope="col">Followers</th>
                                <th class="navbar-brand navbar-header-sm col2" scope="col">Following</th>
                                <th class="navbar-brand navbar-header-sm col3" scope="col">Tweets</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="navbar-brand navbar-header-lg col1"><h3 th:text="${followers}"></h3></td>
                                <td class="navbar-brand navbar-header-md col2"><h4 th:text="${following}"></h4></td>
                                <td class="navbar-brand navbar-header-md col3"><h4 th:text="${tweets}"></h4></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li>
                                <div class="divider-vertical"></div>
                            </li>
                            <li class="nav-item anti-stupid" th:if="${user != null}">
                                <button th:if="${user2 == null}" class="twitter custombutton btn btn-secondary anti-stupid" type="button" href="#" data-toggle="modal" data-target="#edit-profile-modal">Edit Profile</button>
                                <button th:if="${user.role == 'ADMIN' and user2 != null and user2.id != null}" class="twitter custombutton btn btn-secondary anti-stupid admin" type="button" href="#" data-toggle="modal" data-target="#edit-profile-admin-modal">Admin</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-md">
                <div class="row">
                    <div class="col-sm-2 column container-right"></div>
                    <div class="col-sm-2 column container-profile"></div>
                    <div class="col-sm-6 column container-activity">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                            <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                            <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>HOME</h3>
                                <p>Some content.</p>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <h3>Menu 1</h3>
                                <p>Some content in menu 1.</p>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>Menu 2</h3>
                                <p>Some content in menu 2.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 column container-right"></div>
                </div>
            </div>
        </main>
    </body>
</html>