<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Twitter</title>
    </head>

    <body>
        <section class="content-header" th:replace="header/imports.html::imports"></section>
        <section class="content-header" th:replace="header/navbar.html::navbar"></section>

        <main>
            <div class="container-lg twitter-dark" style="height: 20em"></div>
            <nav class="navbar navbar-expand-md navbar-light navbar-laravel fixed-top navbar-secondary">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Left</a>
                        </li>
                    </ul>
                </div>

                <div class="mx-auto order-0">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="mx-auto" href="#">Navbar</a>
                        </li>
                        <li>
                            <div class="divider-vertical"></div>
                        </li>
                        <li class="nav-item active">
                            <a class="mx-auto" href="#">Navbar</a>
                        </li>
                        <li>
                            <div class="divider-vertical"></div>
                        </li>
                        <li class="nav-item active">
                            <a class="mx-auto" href="#">Navbar</a>
                        </li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-lg">
            </div>
        </main>
    </body>
</html>